---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml" />
    <language>en-us</language>
    {% for post in collections.posts | slice(20) %}
    <item>
      <title>{{ post.title }}</title>
      <link>{{ site.url }}/articles/{{ post.slug }}/</link>
      <guid isPermaLink="true">{{ site.url }}/articles/{{ post.slug }}/</guid>
      <pubDate>{{ post.publishedAt }}</pubDate>
      <description><![CDATA[{{ post.excerpt }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>
